<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ if or (eq .Lang "ar") (eq .Lang "fa") }}
    {{ "<!-- RTL -->" | safeHTML }}
    {{ $styleRtl := resources.Get "css/style.rtl.css" | resources.Fingerprint }}
    <link href="{{ $styleRtl.Permalink }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ $styleRtl.Data.Integrity }}" crossorigin="anonymous"{{ end }}>
    {{ else }}
    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    {{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
    <link href="{{ $style.Permalink }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"{{ end }}>
    {{ end }}

    {{ "<!-- minified Font Awesome for SVG icons -->" | safeHTML }}
    {{ $fontawesome := resources.Get "js/fontawesome.min.js" | resources.Fingerprint }}
    <script defer src="{{ $fontawesome.Permalink }}" integrity="{{ $fontawesome.Data.Integrity }}" crossorigin="anonymous"></script>

    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="blog-nav" href="/">
            <img src="/masthead-logo-thumb.png" height="60" width="80" class="d-inline-block align-top" alt="">
          </a>
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL }}">Home</a>
          {{ $currentPage := . }}
          {{ range .Site.Menus.navbar }}
            {{ $menuURL := .URL | absLangURL }}
            <a class="nav-link {{ if eq $currentPage.Title .Name }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          {{ end }}
        </nav>
      </div>
    </div>

    {{ block "body" . }}
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

        {{ partial "sidebar.html" . }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}

    {{ block "footer" . }}
    <footer class="blog-footer">
      <!-- <p dir="auto">
      {{ if .Site.Copyright }}
      {{ .Site.Copyright | markdownify }}
      {{ else }}
      Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a href='https://twitter.com/mralanorth'>@mralanorth</a>.
      {{ end }}
      </p>
      <p>
      <a href="#">{{ i18n "backToTop" }}</a>
      </p> -->
    </footer>
    {{ end }}

  </body>

</html>
